.banner {
  background: url("https://a.espncdn.com/photo/2018/1207/r474380_1296x729_16-9.jpg")
    center center no-repeat;
  /* set the background to an image and center it along the x and y axis */
  height: -webkit-fill-available;
  /* the image height is now set fill the full height of the screen */
  background-size: cover;
  /* the image width is now set fill the full width of the screen */
}

img {
  width: -webkit-fill-available;
  /* all images will now take up all available space from the parent div */
}

.white{
  color: #ffffff;
}

.navbar-img {
  width: 75%;
  height: auto;
}

.title {
  color: #0d9a6a;
  font-weight: 700;
}

.tennis-img {
  -webkit-clip-path: polygon(
    100% 0,
    100% 20%,
    100% 60%,
    100% 100%,
    0 100%,
    0 25%,
    13% 0
  );
  clip-path: polygon(
    100% 0,
    100% 20%,
    100% 60%,
    100% 100%,
    0 100%,
    0 25%,
    13% 0
  );
  /* cuts the corner off the top left of the image */
}

.overlay{
    position: absolute !important;
    top: 8px;
    left: 16px;
    height: 100%;
}

.title-two{
 margin: 15% 0 0 10%;
 font-weight: 300;
}

.title-three{
  margin: 5% 0 0 10%;
  font-weight: 300;
}

.spacing{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 14px;
}